@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

:root {
    --main-bg-color: #333;
    --main-text-color: #fff;
    --accent-color: #000000;
    --article-bg-color: rgba(255, 255, 255, 0.9);
    --box-shadow-color: rgba(0, 0, 0, 0.3);
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'nota sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #000000;
    padding: 10px;
    display: flex;
    align-items: center;

}

header img {
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 200px;
    object-fit: contain;
}

nav {
    text-align: center;
    flex-grow: 1;

}

h1 {
    font-size: 3.5em;
    color: #ffffff;
    margin-bottom: 10px;
    background-color: rgba(66, 71, 74, 0.8);
    padding: 1px;
    border-radius: 5px;
    
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

article p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #000000;
    text-align: left;
}

main {
    padding: 20px;
    color: #333;
}

.hero {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 80%;
}

h1, article {
    margin-bottom: 15px;
    position: relative;
}

article {
    background-color: rgba(194, 199, 202, 0.8);
    padding: 45px;
    border-radius: 5px;
}

article img {
    max-width: 20%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    float: right;
    margin-left: 15px;
}

section {
    margin-bottom: 30px;
}

.adventure-section h2 {
    display: grid;
    color: rgb(78, 73, 73);
}

.adventure-section {
    display: flex;
    background-color: wheat;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
    padding: 50px;
}

.adventure-section img {
    width: 50px;
    height: auto;
}

footer {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

footer p {
    color: white;
    display: inline-block;
    margin-left: 390px;

}

.navlinks {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 100px;
    justify-content: center;
    font-size: 2rem;
}

.navlinks a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-weight: bold;
}

.sociallinks {
    display: flex;
    align-items: center;
    margin-left: 200px;
    
}

.sociallinks a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.history {
    background-color: #696767;
    padding: 1rem;
    margin: 10px;
    color: #fff;
    border-radius: 5px;
}

.history h2, p {
    margin-bottom: 20px;
}

#contact {
    text-align: center;
}

#contact p {
    font-size: 2rem;
}

iframe {
    margin-left: 300px;
    width: 600px;
    height: 450px;
}

.employee-pic {
    display: flex;
    align-items: center;
    margin-left: 75px;
}
.employee-pic img {
    width: 250px;
    height: auto;
    border: solid 1px black;
    align-items: center;

}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    background-color: rgb(45, 44, 44);
    color: white;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
}

#message {
    width: 600px;
    height: auto;
    vertical-align: bottom;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    padding: 1rem;
}

button {
    margin: 1rem;
    margin-left: 250px;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border-radius: 0.75rem;
    padding: .5rem 1rem;
    border: none;
    width: 10rem;

}

button:hover {
    background-color: crimson;
    color: white;
}