@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

:root {
    --main-bg-color: #333;
    --main-text-color: #fff;
    --accent-color: #000000;
    --article-bg-color: rgba(255, 255, 255, 0.9);
    --box-shadow-color: rgba(0, 0, 0, 0.3);
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'nota sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #000000;
    padding: 10px;
}

nav {
    text-align: center;
}

h1 {
    font-size: 3.5em;
    color: #ffffff;
    margin-bottom: 10px;
    background-color: rgba(66, 71, 74, 0.8);
    padding: 1px;
    border-radius: 5px;
    
}

h2 {
    font-size: 2.5em;
}
article p {
    font-size: 1.1em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #000000;
    text-align: left;
}

main {
    padding: 20px;
    color: #333;
}

.hero {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 80%;
}

h1, article {
    margin-bottom: 15px;
    position: relative;
}

article {
    background-color: rgba(194, 199, 202, 0.8);
    padding: 45px;
    border-radius: 5px;
}

article img {
    max-width: 20%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
    float: right;
    margin-left: 15px;
}

section {
    margin-bottom: 30px;
}

section img {
    width: 100%;
    height: auto;
}
footer {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
}

footer p {
    color: white;
}
.navlinks {
    display: flex;
    list-style: none;
}

.navlinks a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-weight: bold;
}

.sociallinks {
    margin-top: 15px;
}

.sociallinks a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
