@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: noto sans, sans;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background: rgb(125, 121, 121);
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 3rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 3rem;
    border: 1px solid whitesmoke;
    border-radius: 0.5rem;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid whitesmoke;
    padding: 1rem;

}

legend {
    padding: 0.5rem;
    color: white;
    font-size: 1.3em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    margin-left: 200px;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border-radius: 0.75rem;
    padding: .5rem 1rem;
    border: none;
    width: 10rem;

}

button:hover {
    background-color: crimson;
    color: white;
}

footer {
    margin: 1rem auto 0;
    padding: 1rem;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: white;
    border-top: 1px solid white;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

#list {
    text-align: center;
    font-size: 1.1rem;
}